body {
	padding: 30px;
}

.tarea {
	padding: 12px 30px;
	background: #c2c2c2;
	color: black;
	border-radius: 5px;
	height: 16px;
	min-width: 35px;
}

.tarea:hover {
	cursor: move;
}

.tarea.droping {
	opacity: 0.5;
	background-color: lightblue;
	border: 1px dashed;
}

.container {
	position: relative;
	margin-top: 30px; 
	width: 1250px;
	height: 400px;
	border: solid 1px #c2c2c2;

	/*background-image: url('bg.jpg');
	background-repeat: repeat;*/

}